<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Hero1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{43,51}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,51}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Hero2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{49,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Hero3.png</key>
            <dict>
                <key>frame</key>
                <string>{{47,57},{41,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{41,53}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Hero4.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,57},{33,53}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{33,53}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
            <key>Hero5.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,2},{37,53}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{37,53}}</string>
                <key>sourceSize</key>
                <string>{49,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3c157847b17eabada0734282908faf3$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
